<html>
<body>
<h1>Webhook-subscriptions</h1>
# if(err != null)
	<h2>Error</h2>
	<p># (err)</p>
# end
<p># if(subscriptions == null) 添加# else 查看#end Webhook-subscriptions</p>
	# if (subscriptions != null)
	<p># (subscriptions.toString() )</p>
	<form method="post" action="/webhooksubscriptions/update/#(subscriptions.id)">
	<ul>
		<li>
			<button type="submit">提交</button>
		</li>
	</ul>
	</form>
	# else 
<form method="post" action="/webhooksubscriptions/add">
	<ul>
		<li>
			url: <input type="text" name="url"  />
		</li>
		<li>
			<button type="submit">提交</button>
		</li>
	</ul>
</form>
	# end
<p><a href="javascript:history.go(-1);">返回上一页</a></p>
<p>return <a href="/webhooksubscriptions/">Webhook-subscriptions</a></p>
<p>return <a href="/">Root</a></p>
</body>
</html>
